@charset "utf-8";
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "ヒラギノ明朝 ProN W3", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif;
    font-size: 15px;
    background: #fff;
}

/* ヘッダー */
header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 10;
    width: 100%;
    height: 50px;
    margin-bottom: 15px;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.header_logo {
    margin-top: 15px;
    margin-left: 10px;
}

.header_logo img {
    width: 170px;
}

.header_menu_bar {
    margin-top: 12px;
    margin-right: 15px;
    font-size: 20px;
}

.menu_open.hidden {
    display: none;
    pointer-events: none;
}

.menu_close {
    display: none;
    pointer-events: none;
}

.menu_close.show {
    display: inline;
    pointer-events: auto;
}

.header_nav {
    display: none;
    pointer-events: none;
}


/* スマホメニュー用モーダル */
.menu-overlay {
    position: fixed;
    top: 50px;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgb(61, 136, 38);
    transform: translateX(900px);
    pointer-events: none;
    transition: opacity, transform .5s;
    z-index: 100;
}

.menu-overlay.show {
    pointer-events: auto;
    transform: none;
}

.menu-wrap {
    position: fixed;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s;
    z-index: 75;
}

.menu-wrap.show{
    opacity: 0.8;
    pointer-events: auto;
}

.menu-overlay ul {
    text-align: left;
    transform: translateY(-20px);
    opacity: 0;
    transition: opacity .8s, transform .8s;
}

.menu-overlay.show ul {
    transform: none;
    opacity: 1;
}

.menu-overlay ul li {
    color: #fff;
    padding: 20px 10px;
    font-size: 15px;
    border-top: 1px white solid;
    font-weight: normal;
}

/* メイン */
main {
    margin-top: 50px;
    flex: 1;
    width: 100%;
}

.page_title {
    font-family: "ヒラギノ明朝 ProN W6";
    padding: 15px 10px;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

.content-wrapper {
    width: 90%;
    margin: 0 auto;
}
.content-container{
    margin-top: 20px;
}

/* フッター */
footer {
    width: 100%;
    background: rgb(61, 136, 38);
    color: #fff;
}

.pc-footer {
    display: none;
    pointer-events: none;
}

.sp-footer {
    display: flex;
    flex-direction: column;
}


.sp-footer h1 {
    font-size: 14px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-left: 15px;
}

.sp-footer .footer_adress {
    margin-bottom: 20px;
}

.sp-footer .adress {
    font-size: 12px;
    margin-bottom: 20px;
    margin-left: 15px;
}

.sp-footer .footer_nav {
    display: flex;
    flex-wrap: wrap;
    border-bottom: .5px solid #fff;
    text-align: center;
}

.sp-footer .footer_nav li {
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    width: 50%;
    font-size: 12px;
    font-weight: normal;
    box-sizing: border-box;
}

.sp-footer .footer_nav li a {
    display: block;
    padding: 11px 0;
}

.sp-footer .footer_copyright {
    padding: 28px 0;
    font-size: 8px;
    text-align: center;
}

.sp-footer .footer_copyright span{
    font-size: 10px;
}

/* スクロールボタン */
/*--------------------------------
  scroll animation fadein
--------------------------------*/
.js-scroll-fadein {
    transition: opacity 1s;
    visibility: hidden;
    opacity: 0;
  }

.js-scroll-fadein.is-fadein {
    visibility: visible;
    opacity: 1;
  }
  /*--------------------------------
    arrow
  --------------------------------*/
  .arrow {
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #fff;
    cursor: pointer;
    background-color: #fff;
    border: solid 3px rgb(117, 165, 102);
    border-radius: 50%;
    padding: 25px;
    transition: all 0.2s ease-in-out;
  }

  .arrow::before{
    content: "";
    width: 12px;
    height: 12px;
    border-top: solid 4px rgb(117, 165, 102);
    border-right: solid 4px rgb(117, 165, 102);
    transform: rotate(-45deg);
    position:  absolute;
    left: 17px;
  }

  .arrow::before {
    top: 20px;
  }

  .arrow:hover {
      opacity: .8;
      bottom: 15px;
      box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.5);
  }

/* タブレット表示 */
/* @media (min-width: 700px) {
    .page_title {
        padding: 0;
        margin-top: 50px;
        margin-left: 40px;
        text-align: left;
        font-size: 25px;
    }
} */

/* PC表示 */
@media (min-width: 1032px) {
    /* ヘッダー */
    header {
        position: relative;
        background-color: #fff;
        width: 100%;
        height: 100px;
    }

    .header-inner {
        display: flex;
        justify-content: space-between;
        max-width: 1170px;
        margin: 0 auto;
    }

    .header_logo {
        margin-top: 20px;
        margin-left: 5px;
    }
    
    .header_logo img {
        width: 270px;
    }

    .header_menu_bar {
        display: none;
        pointer-events: none;
    }

    .header_nav {
        display: flex;
        pointer-events: auto;
        margin-top: 13px;
    }

    .header_nav_items {
        display: flex;
        margin-right: 13px;
    }

    .header_nav_items li {
        margin: auto;
    }

    .header_nav_items li a {
        padding: 17px 15px;
    }

    .header_nav_items li a:hover {
        background: rgb(235, 235, 235);
    }

    .header_nav_contact {
        margin: auto;
        margin-right: 10px;
        padding: 5px 10px;
        background-color: rgb(61, 136, 38);
        border-radius: 2px;
    }

    .header_nav_contact a {
        color: #fff;
    }

    /* メイン */
    main {
        margin-top: 0px;
        max-width: 1170px;
        margin: 0 auto;
    }

    .page_title {
        padding: 0;
        margin-top: 35px;
        margin-left: 30px;
        text-align: left;
        font-size: 25px;
    }

    .content-wrapper {
        width: 98%;
        margin: 0 auto;
    }

    .content-container {
        max-width: 1000px;
        margin: 0 auto;
    }

    /* フッター */
    .sp-footer {
        display: none;
        pointer-events: none;
    }

    .pc-footer {
        display: flex;
        flex-direction: column;
        max-width: 1170px;
        margin: 0 auto;
        padding-top: 100px;
        padding-bottom: 30px;
        pointer-events: auto;
    }

    .pc-footer-container {
        display: flex;
        margin-bottom: 100px;
    }

    .pc-footer .row {
        margin-right: 100px;
    }

    .pc-footer .row1 {
        font-size: 12px;
        margin-left: 20px;
    }

    .pc-footer .row1 h1 {
        font-size: 14px;
        margin-bottom: 20px;
    }

    .pc-footer .adress1 {
        margin-bottom: 15px;
    }

    .pc-footer .row2 {
        font-size: 14px;
        line-height: 27px;
    }

    .pc-footer .row3 {
        font-size: 14px;
        line-height: 27px;
    }

    .pc-footer a:hover {
        opacity: 0.7;
    }

    .pc-footer .footer_copyright {
        font-size: 8px;
        text-align: center;
    }
    
    .pc-footer .footer_copyright span{
        font-size: 10px;
    }


}