.transversally-message-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.transversally-message-container-prepare-badge {
    padding: 5px 20px;
    border: solid;
    border-color: rgba(48, 96, 48, 0.8);
    color: rgb(48, 96, 48);
    margin-bottom: 30px;
}

.transversally-message-container_sanki_logo {
    width: 200px;
    margin-bottom: 20px;
}

.transversally-message-container-message-container {

}

.transversally-message-container-message-container-message {
    text-align: center;
}


/* PC表示 */
@media (min-width: 1032px) {
    .transversally-message-container {
        margin: 80px 0;
    }

    .transversally-message-container_sanki_logo {
        width: 300px;
        margin-bottom: 20px;
    }
}