.content-container {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.content h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    text-align: center;
    margin-bottom: 5px;
}

.content_img {
    margin-bottom: 10px;

}

.content_img img {
    width: 100%;
}

.content_text {
    font-size: 12px;
}

.adress {
    margin-bottom: 10px;
}

.access {
    border: 1px solid #000;
    padding: 10px;
}

.access p:before {
    content: "○";
}

/* PC表示 */
@media (min-width: 1032px) {
    .content-container {
        margin-top: 50px;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 50px;
    }
    
    .content h1 {
        font-size: 23px;
        text-align: left;
        margin-bottom: 5px;
        width: 100%;
    }
    
    .content_img {
        margin-bottom: 10px;
        width: 45%;
    }

    .content_text {
        width: 45%;
        font-size: 15px;
    }
    
    .content_img img {
        width: 100%;
    }
    
    .adress {
        margin-bottom: 30px;
    }
    
    .access {
        border: 1px solid #000;
        padding: 10px;
    }
    
    .access p:before {
        content: "○";
    }
}