.content-container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.content-container h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48, 96, 48);
    font-size: 20px;
    margin-bottom: 10px;
}

.column {
    margin-bottom: 10px;
}

.column1 p span {
    color: rgb(69, 102, 69);
}

.column2 .c1 {
    margin-bottom: 20px;
}

.column2 .c2 {
    margin-bottom: 30px;
}

.column2 .c2 {
    margin-bottom: 30px;
}

.column2 .c2 dt {
    font-family: "ヒラギノ明朝 ProN W6";
}

.column2 .c2 dd {
    margin-bottom: 10px;
}

.column3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.column3 section {
    width: 400px;
    margin: 10px auto;
}

.column3 img {
    width: 100%;

}

.column3 p {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
}

.column3 a {
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: blue;
}

/* PC表示 */
@media (min-width: 1032px) {
    .content-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
        max-width: 800px;
    }
    
    h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48, 96, 48);
        font-size: 20px;
        margin-bottom: 10px;
    }
    
    .column {
        margin-bottom: 10px;
    }
    
    .column1 p span {
        color: rgb(69, 102, 69);
    }
    
    .column2 .c1 {
        margin-bottom: 20px;
    }
    
    .column2 .c2 {
        margin-bottom: 30px;
    }
    
    .column2 .c2 {
        margin-bottom: 30px;
    }
    
    .column2 .c2 dt {
        font-family: "ヒラギノ明朝 ProN W6";
    }
    
    .column2 .c2 dd {
        margin-bottom: 10px;
    }
    
    .column3 {
        display: flex;
        flex-direction: row;
    }

    .column3 section {
        width: 300px;
        margin: 10px auto;
    }
}