.content-container {
    text-align: center;
    margin-bottom: 50px;
}

.content-container h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    font-weight: normal;
}

.title {
    position: relative;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -13px;/*線の上下位置*/
    display: inline-block;
    width: 60px;/*線の長さ*/
    height: 1px;/*線の太さ*/
    transform: translateX(-50%);/*位置調整*/
    background-color: rgb(61, 136, 38);/*線の色*/
    border-radius: 2px;/*線の丸み*/
}

.essentials h1 {
    font-size: 15px;
    margin-bottom: 5px;
}

.essentials p {
    font-size: 12px;
}

.essentials li {
    position: relative;
    padding: 20px 0;
    border-bottom: 1px solid rgb(177, 177, 177);
}

/* PC表示 */
@media (min-width: 1032px) {
.content-container {
    width: 690px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 100px;
}

.title {
    font-size: 30px;
    margin-top: 35px;
    margin-bottom: 50px;
}

.essentials h1 {
    font-size: 15px;
    margin-bottom: 5px;
}

.essentials p {
    font-size: 15px;
}

.essentials li {
    padding: 25px 0;
}
}