/* ----------------------------------------
index.html
---------------------------------------- */
.vwList {
    list-style: inside;
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
    margin-bottom: 30px;
}

.vwContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.vwContent_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.vwContent_text h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 10px;
}

.vwContent_text .column {
    margin-bottom: 5px;
}

.vwContent_text h2 {
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
}

.vwContent_text p {
    font-size: 12px;
}

/* .vwContent_image {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.vwContent_image img {
    width: 45%;
    height: auto;
    margin: 0 5px;
} */

.vwContent_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vwContent_image img {
    width: 80%;
    margin: 5px 0px;
}

/* ----------------------------------------
tip_material_spraying_method.html
---------------------------------------- */
.tip_content-container {
    display: flex;
    flex-direction: column;
}

.tip_column {
    margin-bottom: 30px;
}

.tip_column h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 15px;
}

.tip_column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tip_column1 p {
    font-size: 12px;
    margin-bottom: 15px;
}

.tip_column1_image {
    text-align: center;
    margin-top: 20px;
}

.tip_column1 img {
    width: 250px;
}

.tip_column2 dl {
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
    margin-bottom: 8px;
}

.tip_column2 dd {
    font-size: 12px;
    margin-bottom: 18px;
}

.tip_column3 .tip_image1 {
    text-align: center;
    margin-top: 10px;
}

.tip_column3 .tip_image1 img {
    width: 100%;
}

.tip_column4 .tip_image2 {
    text-align: center;
    margin-top: 10px;
}

.tip_column4 .tip_image2 img {
    width: 60%;
}
/* --------------------------------------------
vegetation_base_material_injection_method.html
----------------------------------------------- */
.vInj_content-container {
    display: flex;
    flex-direction: column;
}

.vInj_column {
    margin-bottom: 30px;
}

.vInj_column h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 15px;
}

.vInj_column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.vInj_column1 p {
    font-size: 12px;
    margin-bottom: 15px;
}

.vInj_column1_image {
    text-align: center;
    margin-top: 20px;
}

.vInj_column1 img {
    width: 250px;
}

.vInj_column2 .vInj_image1 {
    text-align: center;
    margin-top: 20px;
}

.vInj_column2 .vInj_image1 img {
    width: 90%;
}

/* PC表示 */
@media (min-width: 1032px) {
    .vwList {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .scroll_list:hover {
        opacity: 0.6;
    }
    
    .vwContent {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .vwContent .column {
        padding-left: 20px;
    }
    
    .vwContent_text {
        width: 65%;
        padding-right: 30px;
    }
    
    .vwContent_text h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 25px;
    }
    
    .vwContent_text .column {
        margin-bottom: 15px;
    }
    
    .vwContent_text h2 {
        font-family: "ヒラギノ明朝 ProN W6";
        font-size: 18px;
    }
    
    .vwContent_text p {
        font-size: 15px;
    }
    
    .vwContent_image {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .vwContent_image img {
        width: 80%;
        margin: 0;
        margin-bottom: 10px;
    }

    /* ----------------------------------------
    tip_material_spraying_method.html
    ---------------------------------------- */
    .tip_content-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .tip_column {
        margin-bottom: 50px;
    }
    
    .tip_column h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .tip_column1 {
        display: flex;
        flex-direction: row;
    }

    .tip_column1_text {
        width: 70%;
        padding-right: 50px;
    }

    .tip_column1_image {
        width: 30%;
        margin: 0 auto;
        margin-top: 60px;
    }
    
    .tip_column1 p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .tip_column1 img {
        width: 100%;
    }
    
    .tip_column2 dl {
        font-family: "ヒラギノ明朝 ProN W6";
        font-size: 18px;
        margin-bottom: 8px;
        margin-top: 20px;
    }
    
    .tip_column2 dd {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .tip_column3 .tip_image1 {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
    }
    
    .tip_column3 .tip_image1 img {
        width: 70%;
    }
    
    .tip_column4 .tip_image2 {
        text-align: center;
        margin-top: 50px;
    }
    
    .tip_column4 .tip_image2 img {
        width: 35%;
    }

    /* --------------------------------------------
    vegetation_base_material_injection_method.html
    ----------------------------------------------- */
    .vInj_content-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .vInj_column {
        margin-bottom: 50px;
    }
    
    .vInj_column h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .vInj_column1 {
        display: flex;
        flex-direction: row;
    }

    .vInj_column1_text {
        width: 70%;
        padding-right: 50px;
    }

    .vInj_column1_image {
        width: 30%;
        margin: 0 auto;
        margin-top: 55px;
    }
    
    .vInj_column1 p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .vInj_column1 img {
        width: 100%;
    }

    .vInj_column2 .vInj_image1 {
        text-align: center;
        margin-top: 50px;
    }
    
    .vInj_column2 .vInj_image1 img {
        width: 70%;
    }
}