/* ----------------------------------------
index.html
---------------------------------------- */
.stMenu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.stMenu section {
    font-family: "ヒラギノ明朝 ProN W6";
    margin-bottom: 15px;
}

.stMenu section h1 {
    font-size: 15px;
    margin-bottom: 8px;
}

.stList {
    list-style: inside;
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 12px;
}

.stContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.stContent .column {
    padding-left: 20px;
}

.stContent_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.stContent_text h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 10px;
}

.stContent_text .column {
    margin-bottom: 5px;
}

.stContent_text h2 {
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
}

.stContent_text p {
    font-size: 12px;
}

/* .stContent_image {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.stContent_image img {
    width: 45%;
    margin: 0 5px;
} */

.stContent_image {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stContent_image img {
    width: 80%;
    margin: 5px 0px;
}

/* ----------------------------------------
soil_cleat_method.html
---------------------------------------- */
.soil_content-container {
    display: flex;
    flex-direction: column;
}

.soil_column {
    margin-bottom: 30px;
}

.soil_column h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 15px;
}

.soil_column1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.soil_column1 p {
    font-size: 12px;
    margin-bottom: 15px;
}

.soil_column1_image {
    text-align: center;
    margin-top: 20px;
}

.soil_column1 img {
    width: 250px;
}

.soil_column2 ul {
    font-size: 12px;
    list-style-type: inherit;
    padding-left: 10px;
}

.soil_column2 li {
    margin-bottom: 15px;
}

/* PC表示 */
@media (min-width: 1032px) {
    /* ----------------------------------------
    index.html
    ---------------------------------------- */
    .stMenu {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 100px;
    }
    
    .stMenu section {
        font-family: "ヒラギノ明朝 ProN W6";
        margin-bottom: 20px;
    }
    
    .stMenu section h1 {
        font-size: 20px;
        margin-bottom: 8px;
    }
    
    .stList {
        list-style: inside;
        font-size: 18px;
    }

    .scroll_list:hover {
        opacity: 0.6;
    }
    
    .stContent {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 40px;
    }
    
    .stContent_text {
        width: 65%;
        padding-right: 30px;
    }
    
    .stContent_text h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 25px;
    }
    
    .stContent_text .column {
        margin-bottom: 15px;
    }
    
    .stContent_text h2 {
        font-family: "ヒラギノ明朝 ProN W6";
        font-size: 18px;
    }
    
    .stContent_text p {
        font-size: 15px;
    }
    
    .stContent_image {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .stContent_image img {
        width: 80%;
        margin: 0;
        margin-bottom: 10px;
    }

    /* ----------------------------------------
    soil_cleat_method.html
    ---------------------------------------- */
    .soil_content-container {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    
    .soil_column {
        margin-bottom: 50px;
    }
    
    .soil_column h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 15px;
    }
    
    .soil_column1 {
        display: flex;
        flex-direction: row;
    }

    .soil_column1_text {
        width: 70%;
        padding-right: 30px;
    }

    .soil_column1_image {
        width: 30%;
        margin: 0 auto;
        margin-top: 50px;
    }
    
    .soil_column1 p {
        font-size: 15px;
        margin-bottom: 15px;
    }
    
    .soil_column1 img {
        width: 100%;
    }

    .soil_column2 ul {
        font-size: 15px;
    }
}