/* ----------------------------------------
index.html
---------------------------------------- */
.vwList {
    list-style: inside;
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
    margin-bottom: 30px;
}

.vwContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.vwContent_text {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.vwContent_text h1 {
    font-family: "ヒラギノ明朝 ProN W6";
    color: rgb(48,96,48);
    font-size: 20px;
    margin-bottom: 10px;
}

.vwContent_text .column {
    margin-bottom: 5px;
}

.vwContent_text h2 {
    font-family: "ヒラギノ明朝 ProN W6";
    font-size: 15px;
}

.vwContent_text p {
    font-size: 12px;
}

.vwContent_image {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.vwContent_image img {
    width: 45%;
    margin: 0 5px;
}



/* PC表示 */
@media (min-width: 1032px) {
    .vwList {
        font-size: 18px;
        margin-top: 40px;
        margin-bottom: 100px;
    }

    .scroll_list:hover {
        opacity: 0.6;
    }
    
    .vwContent {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        margin-bottom: 40px;
    }

    .vwContent .column {
        padding-left: 20px;
    }
    
    .vwContent_text {
        width: 65%;
        padding-right: 30px;
    }
    
    .vwContent_text h1 {
        font-family: "ヒラギノ明朝 ProN W6";
        color: rgb(48,96,48);
        font-size: 25px;
        margin-bottom: 25px;
    }
    
    .vwContent_text .column {
        margin-bottom: 15px;
    }
    
    .vwContent_text h2 {
        font-family: "ヒラギノ明朝 ProN W6";
        font-size: 18px;
    }
    
    .vwContent_text p {
        font-size: 15px;
    }
    
    .vwContent_image {
        width: 35%;
        display: flex;
        flex-direction: column;
        padding: 50px;
    }
    
    .vwContent_image img {
        width: 80%;
        margin: 0;
        margin-bottom: 10px;
    }

}